@charset "utf-8";
/* CSS Document */

* {
	padding:0px;
	margin:0px;	
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	background-color:#000;	
}

#main1 {
	background:url(patt.png);
	width:1280px;		
	height:1280px;
	margin:auto;
	margin-top:-250px;
}

#hor {
	width:100%;
	height:100%;
	background:url(hshade.png) repeat-y center;
}

#ver {
	width:100%;
	height:100%;
	background:url(vshade.png) repeat-x center;	
/*	background:#F30;*/
}

#bar {
	margin-top:10px;
	background:url(bar.png);
	width:100%;
	height:110px;
}

#bar > img {
	margin-top:30px;	
}

a > img {
	border: none;	
}

a {
	outline:none;
}