@charset "utf-8";

/* CSS Document */
#hard1 {
	background:#000 url(hwnew/bck.jpg) center no-repeat fixed;
/*	height:1000px;*/
	min-height:800px;
}

#hard1 .d1 {
	width:800px;
	margin:auto;
}

#hard1 .d1 td {
/*	background:#FFF;	*/
	height:150px;
	border-bottom:#DDD 1px solid;
	vertical-align:top;
}

#hard1 img {
	display:block;
	margin:auto;	
}

#hard1 h2 {
	background:#EEE;	
	padding:5px;
	text-align:right;
	font-size:18px;
	color:#039;
}

#hard1 h3 {
	padding:5px;	
	background:#F8F8F8;	
	margin:0px;
	font-size:13px;
	color:#C00;
	line-height:18px;
}

#hard1 h4 {
	height:82px;
	border-left:#EEE 1px dotted;
	font-weight:normal;
	padding:5px;	
	background:#F8F8F8;	
	color:#036;
	font-size:12px;
}

#hard1 .naslov {
	background:#555;
	color:#FFF;
	line-height:30px;
	text-align:center;
	font-size:16px; 
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
}

/* Hardware menu */

#hwmenu {
	margin:auto;
	background:#444;
	color:#CCC;
	font-weight:bold;
	font-size:15px;
	font-family:Verdana, Geneva, sans-serif;	
	width:800px;
}
/*
#hwmenu table {
	margin:auto;
}*/

#hwmenu td {
	padding:13px;
	padding-top:8px;
	padding-bottom:8px;
	text-align:center;
	cursor:pointer;
}

#hwmenu td:hover {
	color:#FFF;
	background:#666;	
}